<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center">Review Page: <%= recordshop.name %></h1>
            <a href="/recordshops/<%= recordshop._id %>">Go back to the recordshop page</a>
            <div class="thumbnail">
                <div class="caption-full">
                    <% if (recordshop.rating === 0) { %>
                    <h5>
                        <em>No reviews yet.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (recordshop.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (recordshop.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (recordshop.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (recordshop.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= recordshop.reviews.length %>)</em>
                    </p>
                    <p>
                        Current recordshop rating: <strong><%= recordshop.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4>All reviews for this recordshop:</h4></p>
                    <hr style="margin-top: 0;">
                    <% recordshop.reviews.forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning float-right"
                               href="/recordshops/<%=recordshop._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form id="delete-form" action="/recordshops/<%=recordshop._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger float-right" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <% } %>
                    <div>
                        <a class="btn btn-primary <% if (currentUser && recordshop.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/recordshops/<%= recordshop._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                    <div style="margin-top: 10px;">
                        <a class="btn btn-default" href="/recordshops/<%= recordshop._id %>"><i class="fa fa-arrow-left"></i> Go back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Review section-->
</div>

<% include ../partials/footer %>