<% include ../partials/header %>


<div class="row">
	 <div class="col-md-4">
		 <h1><%= user.firstName + " " + user.lastName %></h1>
		 <div class="card">
		 <img src="<%= user.avatar%>" alt="user profile pic">
			 <div class="caption">
				 <a href="mailto:<%=user.email%>"><%=user.email%></a>
				 <a href="/follow/<%= user.id %>"><button class="btn btn-primary">Follow <%= user.username %></button></a>
			 </div>
Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.
		 </div>
	     </div>
	<div class="col-md-8 inline">
		<h3>
			<%=user.username%>'s recordshops:
		</h3>
		<ul>
    <% recordshops.forEach(function(recordshop) { %>
		<li><a href="/recordshops/<%recordshop.id%>"><%= recordshop.name %></a></li>
	<%	}) %>
		</ul>
		
	</div>
</div>



<% include ../partials/footer %>